/* Fonts import --------------------------- */
@font-face {
    font-family: Lato-Regular;
    src: url("../assets/fonts/Lato-Regular.ttf");
}

@font-face {
    font-family: Lato-Bold;
    src: url("../assets/fonts/Lato-Bold.ttf");

}

html,
body {
    font-family: Lato-Regular, sans-serif;
    width: 100%;
    min-height: 100vh;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    background-color: var(--color-primary);
}

/* Header secton --------------------------- */
header {
    width: 100%;
    position: sticky;
    z-index: 1000;
    top: 0;
}

/* Main section --------------------------- */
main {
    max-width: 1500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    margin: 0 auto;
    /* filter: blur(2px); */
}

/* Intro section --------------------------- */
.intro__section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-small);
    color: var(--color-base);
    margin-bottom: var(--spacing-x-large);
    padding: 0 var(--spacing-small);
}

.intro__heading {
    font-family: Lato-Bold, sans-serif;
    font-size: var(--font-size-large);

}

.intro__paragraph {
    font-size: var(--font-size-medium);
}

.card__section {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(640px, 1fr));
    gap: var(--spacing-small);
}


.card {
    display: flex;
    flex-direction: column;
    background-color: var(--color-base);
    border: 1px solid var(--color-primary);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    position: relative;
    cursor: pointer;
}

.card:hover {
    border: 1px solid var(--hover-color);
}

.card:active {
    transform: scale(0.98);
}

.card__image-container {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.card__image {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    overflow: hidden;
}

.card__info-container {
    padding: var(--spacing-small) var(--spacing-medium);
    position: absolute;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    color: var(--color-base);
    transition: left 0.3s ease-in-out;
    overflow-y: scroll;
    background-color: var(--color-primary);
}

.card__info-container--active {
    left: 0;
}

.card__info-item {
    margin-bottom: var(--spacing-small);
}

.card__info-item:first-child {
    margin-bottom: 10px;
    font-family: Lato-Bold, sans-serif;
    font-size: var(--font-size-large);
}

.card__info-label {
    font-variant: small-caps;
    color: var(--color-info-label);
}

/* Media Queries --------------------------- */
@media screen and (max-width: 1303px) {
    .card__section {
        grid-template-columns: repeat(auto-fill, minmax(460px, 1fr));
    }
}

@media screen and (max-width: 942px) {
    .card__section {
        width: 70%;
    }

    .card__info-container {
        padding: 0 var(--spacing-small);
    }
}

@media screen and (max-width: 674px) {
    .intro__section {
        margin-bottom: var(--spacing-medium);
    }

    .intro__heading {
        font-size: var(--font-size-medium);
    }

    .intro__paragraph {
        font-size: var(--font-size-base);
    }

    .card__section {
        width: 80%;
    }
}

@media screen and (max-width: 580px) {
    .card__section {
        grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
        width: 98%;
    }
}